# Custom
wandb/
work_dirs/
# *.pt
# *.pth
submission/
*.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
android_whochari/local.properties
android_whochari/.idea/modules/lib_task_api/TFLite_Image_Segmentation_Demo_App.lib_task_api.iml
android_whochari/app/src/main/assets/tflite2.tflite
android_whochari/sdk/.cxx/abi_configuration_ep3a6a2i.json
android_whochari/sdk/.cxx/abi_configuration_ep3a6a2i_key.json
android_whochari/sdk/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
android_whochari/sdk/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
android_whochari/sdk/.cxx/cmake/debug/arm64-v8a/CMakeFiles/3.10.2/CMakeSystem.cmake
android_whochari/sdk/.cxx/cmake/debug/armeabi-v7a/.ninja_deps
android_whochari/sdk/.cxx/cmake/debug/armeabi-v7a/.ninja_log
android_whochari/sdk/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_command_opencv_jni_shared_armeabi-v7a.txt
android_whochari/sdk/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_stderr_opencv_jni_shared_armeabi-v7a.txt
android_whochari/sdk/.cxx/cmake/debug/armeabi-v7a/android_gradle_build_stdout_opencv_jni_shared_armeabi-v7a.txt
android_whochari/sdk/.cxx/cmake/debug/armeabi-v7a/libopencv_jni_shared.a
android_whochari/sdk/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCCompiler.cmake
android_whochari/sdk/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
android_whochari/sdk/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/3.10.2/CMakeSystem.cmake
android_whochari/sdk/.cxx/cmake/debug/armeabi-v7a/CMakeFiles/opencv_jni_shared.dir/dummy.cpp.o
android_whochari/sdk/.cxx/cmake/debug/x86/.ninja_deps
android_whochari/sdk/.cxx/cmake/debug/x86/.ninja_log
android_whochari/sdk/.cxx/cmake/debug/x86/android_gradle_build_command_opencv_jni_shared_x86.txt
android_whochari/sdk/.cxx/cmake/debug/x86/android_gradle_build_stderr_opencv_jni_shared_x86.txt
android_whochari/sdk/.cxx/cmake/debug/x86/android_gradle_build_stdout_opencv_jni_shared_x86.txt
android_whochari/sdk/.cxx/cmake/debug/x86/libopencv_jni_shared.a
android_whochari/sdk/.cxx/cmake/debug/x86_64/.ninja_deps
android_whochari/sdk/.cxx/cmake/debug/x86_64/.ninja_log
android_whochari/sdk/.cxx/cmake/debug/x86_64/libopencv_jni_shared.a
android_whochari/sdk/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeCCompiler.cmake
android_whochari/sdk/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
android_whochari/sdk/.cxx/cmake/debug/x86/CMakeFiles/3.10.2/CMakeSystem.cmake
android_whochari/sdk/.cxx/cmake/debug/x86/CMakeFiles/opencv_jni_shared.dir/dummy.cpp.o
